:host {
  display: block;
  padding: 10px;
}

.item {
  margin: 3px 0;
}

.label {
  padding-bottom: 0.25em;
}

.group {
  padding: 10px;
  border: 1px solid rgba(0,0,0,.42);
  border-radius: 4px;
  margin-bottom: 1.25em;
}
