@use '@angular/material' as mat;
@import '~src/theme';

.menu-item {
  display: flex;
  height: 36px;
  align-items: center;
  padding-left: 10px;
  font-weight: bolder;
  cursor: pointer;

  span {
    padding-left: 10px;
  }

  &:hover {
    background-color: mat.get-color-from-palette($accent, 100);
  }

  &.active {
    background-color: mat.get-color-from-palette($accent);
    color: mat.get-contrast-color-from-palette($accent, default);
  }
}
