<div class="sign-in-page" fxLayout="column" fxLayoutAlign="center">
  <div fxLayout="row" fxLayoutAlign="center">
    <form name="signInForm" class="sign-in-form" fxLayout="column" fxFlex.gt-xs="420px">
      <span class="title">Sign In</span>
      <span class="instruction">Enter your credentials below to continue:</span>
      <mat-form-field appearance="outline" fxFlex>
        <mat-label>Username</mat-label>
        <mat-icon matPrefix>face</mat-icon>
        <input matInput name="username" [(ngModel)]="params.username">
      </mat-form-field>
      <mat-form-field appearance="outline" fxFlex>
        <mat-label>Password</mat-label>
        <mat-icon matPrefix>lock</mat-icon>
        <input matInput name="password" [type]="hide ? 'password' : 'text'" [(ngModel)]="params.password">
        <button mat-icon-button matSuffix (click)="hide = !hide" [attr.aria-label]="'Hide password'" [attr.aria-pressed]="hide">
          <mat-icon>{{hide ? 'visibility_off' : 'visibility'}}</mat-icon>
        </button>
      </mat-form-field>
      <div fxLayout="column" fxLayoutGap="15px">
        <app-message-box *ngIf="error" (closeClick)="onMessageBoxClose()">{{error.message}}</app-message-box>
        <div fxLayout="row nowrap" fxLayoutGap="10px">
          <button mat-stroked-button color="primary" fxFlex (click)="onSingInClick()">Sign In</button>
        </div>
      </div>
    </form>
  </div>
</div>
<app-loading-screen [fullScreen]="true"></app-loading-screen>
