.loading-screen {
  display: flex;
  position: absolute;
  justify-content: center;
  align-items: center;
  height: 100%;
  width: 100%;
  top: 0;
  background-color: rgba(#000000, 0.3);
  z-index: 999;
}

.progress-bar {
  position: absolute;
  top: 0;
}
