<div class="modal-container">
  <mat-toolbar class="toolbar"
               [color]="type ? 'accent' : 'warn'"
               fxLayout="row"
               fxLayoutAlign="center center">
    <span class="title" fxFlex>{{ title }}</span>
  </mat-toolbar>

  <div class="body">
    <div *ngIf="!arrayMessage" class="title" [innerHTML]="message"></div>

    <div *ngIf="arrayMessage" class="title" fxLayout="column">
      <div *ngFor="let item of message">{{ item }}</div>
    </div>

    <div fxLayout="row nowrap" fxLayoutAlign="end center" fxLayoutGap="10px" class="actions">
      <button mat-stroked-button (click)="close(false)" class="secondary" *ngIf="cancelButton" fxFlex>No</button>
      <button mat-stroked-button (click)="close(true)" fxFlex>{{ cancelButton ? 'Yes' : 'Ok' }}</button>
    </div>
  </div>
</div>
